# Visual Studio
.vs/
*.vcxproj*
*.sln
*.user
*.filters
*.dbmdl
*.VC.db
*.VC.opendb

# Build results
Debug/
DebugPublic/
Release/
x64/
x86/
build/
bin/

# Compiled object files and libraries
*.obj
*.o
*.lib
*.dll
*.exe
*.pdb

# Others
*.log
*.tmp
*.cache
*.ilk

# Visual Studio Code
.vscode/

# System files
Thumbs.db
.DS_Store
