# Компиляционные файлы
*.o
*.obj
*.exe
*.out
*.dll
*.so
*.a
*.lib

# Папки сборки и временные файлы
/build/
/bin/
/Debug/
/Release/
/x64/
/x86/

# Файлы Visual Studio
.vs/
*.vcxproj*
*.sln
*.user
*.filters

# Файлы Code::Blocks
*.depend
*.layout
*.cbp

# Файлы Makefile и CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Файлы отладки
*.pdb
*.ilk

# Логи и другие временные файлы
*.log
*.tmp

# Файлы редактора
*.swp
*.swo
*.idea/
*.vscode/

# Другие системные файлы
.DS_Store
Thumbs.db
